{
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true
  },
  "globals": {
    "$": true,
    "jQuery": true,
    "App": true
  },
  "extends": [
    "airbnb-base/legacy"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "func-names": [
      "error",
      "never"
    ],
    "no-debugger": 1,
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-unused-vars": [
      "off"
    ]
  }
}
